<div class="container-form">
<h1>Edit your Kid attributes</h1>
  <div class="row">
    <div class= "col-sm-3 offset-sm-3 form-toilet">
      <%= simple_form_for(@kid) do |f| %>
        <%= f.input :name %>
        <%= f.input :password %>
        <%= f.input :age %>
        <%= select_tag "kid[interests][]", options_from_collection_for_select(
              @categories,
              :to_s, :to_s),
              class: 'select2', multiple: 'multiple' %>
        <%= f.submit class: 'btn btn-primary form-group' %>
      <% end %>
    </div>
  </div>
</div>
