<div class="parent-dashboard-wrapper">
  <div class="parent-dashboard-container kid-index-container">
    <h2>What are they up to?</h2>
      <div class="parent-dashboard-container-content">
        <div class="row">
        <% @kids.each do |kid| %>
        <div class="col-xs-12 col-xs-offset-3">
            <div class="parent-card">
              <div class="card-avatar">
                <%= cl_image_tag kid.avatar, class: "parent-avatar" %>
              </div>
              <div class="kid-name">
                <p><%= kid.name %></p>
              </div>
              <div class="kid-edit">
                <p><%= link_to "edit", edit_kid_path(kid) %></p>
              </div>
              <div class="kid-readings">
                <p><i class="fas fa-book-reader"></i> Readings: <%= kid.readings.length %></p>
              </div>
              <div class="kid-purchases">
                <p><i class="fas fa-gift"></i> Purchases: <%= kid.purchases.length %></p>
              </div>
              <div class="kid-readcoins">
                <p><i class="fas fa-coins"></i> Readcoins: <%= kid.wallet %></p>
              </div>
              <div class="show-more">
                <%= link_to "more", kid_path(kid), class: "parent-button" %>
              </div>
            </div>
            </div>
        <% end %>
        </div>
      </div>
      <h4>Wallet: <%= humanized_money_with_symbol(current_user.wallet) %> USD</<h4>
      <p><%= link_to "add a kid", new_kid_path, class: "parent-button add-a-kid-btn" %></p>
      <%= form_tag orders_path do %>
      <%= number_field_tag "amount" %>
      <%= submit_tag 'Buy Some ReadCoin', class: 'parrent_button' %>
      <% end %>
    </div>
</div>
