<div class="container background-size">
  <h1 class="text-center", style="margin-bottom: 45px;">What are they up to?</h1>
  <div class="row", style="margin-bottom: 70px;">
    <p class="text-center">Purchase ReadCoins and see how it convert to ReadCoins that your childrens can start enjoy</p>
    <div class="card col-md-4 col-md-offset-4 text-center parent-card">
      <%= humanized_money_with_symbol(current_user.wallet) %>
      <p>Balance</p>
      <%= form_tag orders_path do %>
      <%= number_field_tag "amount", class:"buy-field" %>
      <p>Enter amount</p>
      <%= submit_tag 'Purchase ReadCoin', class:"buy-btn" %>
      <% end %>
    </div>
  </div>
  <p class="text-center">Follow the progress of your children as what they read and on what they spending they ReadCoins</p>
  <div class="row cards-display">
    <% @kids.each do |kid| %>
      <div class="card col-md-4 text-center kid-card">
        <div class="card-upper">
          <div class="card-avatar">
            <%= cl_image_tag kid.avatar, class: "parent-avatar" %>
          </div>
          <div class="kid-name">
            <p><%= kid.name %></p>
          </div>
        </div>
        <div class="card-lower">
          <div class="kid-params">
            <div class="kid-readings">
              <div class="kid-readings"><%= kid.readings.length %></div>
              <p>Readings</p>
            </div>
            <div class="kid-purchases">
              <div class="kid-purchases"><%= kid.purchases.length %></div>
              <p>Purchases</p>
            </div>
            <div class="kid-readcoins">
              <div class="kid-wallet"><%= kid.wallet %></div>
              <p>Readcoins</p>
            </div>
          </div>
          <div class="nav-buttons">
            <%= link_to "edit", edit_kid_path(kid), class:"btn btn-primary" %>
            <%= link_to "more", kid_path(kid), class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row text-center btn-add-kid-margin">
    <div class="add-child-button">
      <%= link_to "Add child", new_kid_path, class: "btn-add-kid" %>
      <h4>Wallet: <%= humanized_money_with_symbol(current_user.wallet) %> USD</<h4>
      <p><%= link_to "add a kid", new_kid_path, class: "parent-button add-a-kid-btn" %></p>
      <%= form_tag orders_path do %>
      <%= number_field_tag "amount" %>
      <%= submit_tag 'Buy Some ReadCoin', class: 'parrent_button' %>
      <% end %>
      <%= link_to "Back", kids_login_path, class: "parent-button" %>
    </div>
  </div>
</div>



















