<div class="parents-dashboard-wrapper">
<div class="parents-dashboard-container">
  <h1 class="text-center", style="margin-bottom: 45px;">My account</h1>
  <p class="text-center", style="font-size: 23px; margin-bottom: 40px;">Purchase ReadCoins and allow your children to explore the wonders of the books world</p>



  <div class="call-to-action">
    <div class="row">
      <div class="balance-card-content text-center">
        <div class="call-action-content">
          <div class="num-field", style="font-size:85px;">
            <%= humanized_money_with_symbol(current_user.wallet) %>
          </div>
          <p>Balance</p>
          <p>1 RDC = 1 USD</p>
        </div>
      </div>


    </div>
  </div>


    <div class="purchase-action">
      <div>
        <%= form_tag orders_path do %>
          <%= number_field_tag "amount", class:"buy-field" %>
          <p>Enter amount</p>
      </div>
      <div style="margin-left: 20px;">
        <%= submit_tag 'Convert To ReadCoins', class:"buy-btn" %>
      </div>
     <% end %>
    </div>

  <div class="row text-center btn-add-kid-margin">
    <div class="add-child-button">
      <%= link_to "Add a child", new_kid_path, class: "btn-add-kid", style:"text-decoration:none; color: #54c6eb;" %>
    </div>
  </div>
  <div class="row cards-display">
    <% @kids.each do |kid| %>
      <div class="card col-xs-12 text-center kid-card">
        <div class="card-left">
          <div class="card-avatar">
            <%= cl_image_tag kid.avatar, class: "parent-avatar card-avatar-img", style:"height:150px; width:150px;  " %>
          </div>
        </div>
        <div class="card-right">
          <%= link_to edit_kid_path(kid), style:"position: absolute; right: 22px; top:22px;" do  %>
          <i class="far fa-edit", style="color: #54c6eb;"></i>
          <% end %>
          <div class="right-card-pad">
            <div class="kid-name">
              <p style="margin-top: 10px; font-size: 46px; text-transform: capitalize;"><%= kid.name %></p>
            </div>
            <div class="kid-params">
              <div class="kid-readings">
                <div class="kid-readings", style="font-size: 55px;">
                  <%= kid.readings.length %>
                </div>
                <p>Books Read</p>
              </div>
              <div class="kid-purchases">
                <div class="kid-purchases", style="font-size: 55px;">
                  <%= kid.purchases.length %>
                </div>
                <p>Gift purchased</p>
              </div>
              <div class="kid-readcoins">
                <div class="kid-wallet", style="font-size: 55px;">
                  <%= kid.wallet %>
                </div>
                <p>Readcoins Spent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>




















