<div class="kid-dashboard-wrapper">
  <div class="kid-dashboard-container">
    <h1>My ebooks</h1>
    <% if @chosen_books.empty? %>
      <% @books.each do |book| %>
        <div class="kid-dashboard-flexbox">
          <div class="books-pics" style="background-image: url('<%= cl_image_path book.photo %>')" >
            <div class="book-category">
              <%= book.genre %>
            </div>
          </div>

          <div class="books-details">
            <p><strong><%= image_tag 'coins.png' %> <%= book.reward %> rdcn</strong></p>
            <p><%= book.title %></p>
            <p>Author: <%= book.author %></p>
            <p><%= link_to "show more", kid_book_path(@kid, book),
            class: "kid-button" %></p>
          </div>

        </div>
      <% end %>
    <% else %>
      <% @chosen_books.each do |book| %>
        <div class="kid-dashboard-flexbox">

          <div class="books-pics" style="background-image: url('<%= cl_image_path book.photo %>')" >
            <div class="book-category">
              <%= book.genre %>
            </div>
          </div>

          <div class="books-details">
            <p><strong><%= image_tag 'coins.png' %> <%= book.reward %> rdcn</strong></p>
            <p><%= book.title %></p>
            <p>Author: <%= book.author %></p>
            <p><%= link_to "show more", kid_book_path(@kid, book),
            class: "kid-button", id: "show-more-kd-btn" %></p>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>


