<div class="container-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Add A Child</h1>
        <%= simple_form_for(@new_kid) do |f| %>
          <%= f.input :name %>
          <%= f.input :password %>
          <%= f.input :age %>
          <p class="interests-font">Interests</p>
          <p>choose from list</p>
          <%= select_tag "kid[interests][]", options_from_collection_for_select(
                @categories,
                :to_s, :to_s),
                class: 'select2 interests-dropdown', multiple: 'multiple' %>
          <%= f.submit class: 'btn btn-primary form-group', style:"margin-top: 60px;" %>
      <% end %>
    </div>
  </div>
</div>
