<div class="container-form">
<h1>Add your Kid</h1>
  <div class="row">
    <div class= "col-sm-3 offset-sm-3 form-toilet">
      <%= simple_form_for(@new_kid) do |f| %>
        <%= f.input :name %>
        <%= f.input :password %>
        <%= f.input :age %>
        <%= f.input :interests %>
        <%= f.submit class: 'btn btn-primary form-group' %>
      <% end %>
    </div>
  </div>
</div>
