<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <% if user_signed_in? && !@kid %>
    <%= link_to "home", kids_login_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'navbar-wagon-item navbar-wagon-link', id: 'navbar-logout' %>
    <% end %>
    <% if user_signed_in? && @kid %>
    <% if controller_name == "readings" %>
      <%= link_to "Back to book", kid_book_path(@kid, @book), class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "Answer the quiz", kid_book_quiz_path(@kid, @book), class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "home", kids_login_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "E-shop", kid_prizes_path(@kid), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "E-books", kid_dashboard_path(@kid), class: "navbar-wagon-item navbar-wagon-link" %>

<% else %>
      <!-- Links when logged in -->
      <%= link_to "home", kids_login_path, class: 'navbar-wagon-item navbar-wagon-link navbar-kid' %>
      <%= link_to "E-shop", kid_prizes_path(@kid), class: "navbar-wagon-item navbar-wagon-link navbar-kid" %>
      <%= link_to "E-books", kid_dashboard_path(@kid), class: "navbar-wagon-item navbar-wagon-link navbar-kid" %>
 <% end %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
  <div class="dropdown">
    <% if @kid.avatar %>
      <%= cl_image_tag @kid.avatar, class:"kid-avatar ", id:"navbar-wagon-menu", data: { toggle: 'dropdown'}%>
    <% else %>
      <%= image_tag "Transparency.png", class:"kid-avatar ", id:"navbar-wagon-menu", data: { toggle: 'dropdown'}%>
    <% end %>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><%= link_to "Create your avatar", kid_create_avatar_path(@kid), class: 'navbar-wagon-item navbar-wagon-link'%></li>
      <li><%= link_to "Your profile", kid_path(@kid), class: 'navbar-wagon-item navbar-wagon-link' %></li>
      <li><%= link_to "Log out", kids_login_path, class: 'navbar-wagon-item navbar-wagon-link', id: 'navbar-logout' %></li>
    </ul>
  </div>
</div>
</div>

    <% elsif current_user == nil%>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
