<div class="kid-dashboard-wrapper">
  <div class="kid-dashboard-container prizes-container">
    <div class="eshop-top-flexbox">
      <h1>E-Shop</h1>
      <h3><%= image_tag 'coins.png' %> <%= @kid_balance %> rdn</h3>
    </div>
      <div class="row">
        <% @prizes.each do |prize| %>
          <div class="col-sm-3">
            <div class="prize-card">
              <%= cl_image_tag prize.picture, height: 180, width: 160, crop: :fill %>
              <div class="prize-title">
                <h3><%= prize.title %></h3>
              </div>
              <p><%= prize.price %> rdcn</p>
              <%= link_to "Buy now", kid_prize_path(@kid, prize), class: "kid-button" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
